#jinja2: lstrip_blocks: True
{% set dstnat = nftables_dstnat|length > 0 %}
#!/usr/bin/env nft -f
flush ruleset

define wan_interface = {{ wan_interface }}

{% include "templates/" ~ inventory_hostname ~ "/nftables/user_define.j2" ignore missing %}


table inet nat {
{% if dstnat %}
    map redirs {
        type inet_proto . inet_service : inet_service
        elements = {
            {% for proto, val in nftables_dstnat.items() %}
            {% for pair in val %}
            {{ proto }} . {{ pair.src }} : {{ pair.dst }},
            {% endfor %}
            {% endfor %}
        }
    }
{% endif %}

    chain prerouting {
        type nat hook prerouting priority dstnat; policy accept;
        jump user_dstnat
        {% if dstnat %}
        iifname $wan_interface meta l4proto { tcp, udp } redirect to :meta l4proto . th dport map @redirs
        {% endif %}
    }

    chain postrouting {
        type nat hook postrouting priority srcnat; policy accept;
        jump user_srcnat
    }

    chain user_dstnat {
        {% include "templates/" ~ inventory_hostname ~ "/nftables/user_dstnat.j2" ignore missing %}

    }

    chain user_srcnat {
        {% include "templates/" ~ inventory_hostname ~ "/nftables/user_srcnat.j2" ignore missing %}

    }
}

table inet filter {

    set allowed_dports {
        type inet_proto . inet_service
        elements = {
            {% for proto, ports in nftables_allowed_dports.items() %}
            {% for port in ports %}
            {{ proto }} . {{ port }},
            {% endfor %}
            {% endfor %}
        }
    }

    chain input {
        type filter hook input priority filter; policy drop;
        iifname lo accept
        ct state vmap { established: accept, related: accept, invalid: drop }
        icmp type { echo-request } accept
        icmpv6 type { echo-request, nd-router-advert, nd-neighbor-solicit, nd-neighbor-advert } accept
        jump user_input
        meta l4proto . th dport @allowed_dports accept
        {% if dstnat %}
        ct status dnat accept
        {% endif %}
        reject
    }

    chain forward {
        type filter hook forward priority filter; policy drop;
        jump user_forward
    }

    chain output {
        type filter hook output priority filter; policy accept;
        jump user_output
    }

    chain user_input {
        {% include "templates/" ~ inventory_hostname ~ "/nftables/user_input.j2" ignore missing %}

    }

    chain user_forward {
        {% include "templates/" ~ inventory_hostname ~ "/nftables/user_forward.j2" ignore missing %}

    }

    chain user_output {
        {% include "templates/" ~ inventory_hostname ~ "/nftables/user_output.j2" ignore missing %}

    }
}
